@use "./_variables.scss";

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-base);
  transition:
    background-color var(--transition-slow),
    color var(--transition-slow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-bottom: 1em;
  color: var(--color-text);
}

a {
  color: var(--color-accent);
  transition: color var(--transition-fast);
}

a:hover {
  color: lighten($color: #959392, $amount: 20);
}

button {
  border-radius: var(--radius-sm);
  padding: 0.5rem 1rem;
  transition: background-color var(--transition-fast);
  transition: color var(--transition-fast);
}

.wrapper {
  width: 100%;
  padding: 0 1rem 0 1rem;

  margin-left: auto;
  margin-right: auto;

  // Мобильные устройства
  max-width: 100%;

  // Планшеты
  @media (min-width: 640px) {
    max-width: 640px;
  }

  // Небольшие ноутбуки
  @media (min-width: 768px) {
    max-width: 768px;
  }

  // Стандартные десктопы
  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  // Широкие экраны
  @media (min-width: 1280px) {
    max-width: 1200px;
  }

  // Очень широкие
  @media (min-width: 1536px) {
    max-width: 1400px;
  }
}
