@use 'sass:color';

:root {
  --color-bg: #000;
  --color-surface: #1a1a1a;
  --color-text: #fff;
  --color-muted: #a7a5a4;
  --color-muted-accent: #a7a5a4;
  --color-accent: #a7a5a4;

  --font-base: 'Segoe UI', Roboto, sans-serif;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  --transition-fast: 0.2s ease;
  --transition-slow: 0.4s ease;
}
